L1/obj/*.o
L1/prog.o
L1/prog.S
L1/bin/*
L1/runtime.o

L2/obj/*.o
L2/bin/*
L2/tests/liveness/*.tmp
L2/lib/tap/*
L2/lib/temp/*
L2/prog.L1
L2/a.out

L3/bin/*
L3/obj/*.o
L3/prog.L2

IR/bin/*
IR/obj/*
IR/prog.L3

LA/bin/*
LA/obj/*
LA/prog.IR

LB/bin/*
LB/obj/*
LB/prog.a
